<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rx-Core" version="2.2.5" targetFramework="portable46-net451+win81" userInstalled="true" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="portable46-net451+win81" userInstalled="true" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="portable46-net451+win81" userInstalled="true" />
  <package id="Rx-Main" version="2.2.5" targetFramework="portable46-net451+win81" userInstalled="true" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="portable46-net451+win81" userInstalled="true" />
  <package id="Sprache" version="2.0.0.45" targetFramework="portable46-net451+win81" userInstalled="true" />
</packages>